<!DOCTYPE html>
<html>
  <head>
    <title><%= albums %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= albums %></h1>
    <p>Welcome to <%= albums %></p>
  </body>
</html>
