<!DOCTYPE html>
<html>
  <head>
    <title><%= artists %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= artists %></h1>
    <p>List of Artists <%= artists %></p>
  </body>
</html>
